fieldset#self_delivery{
  margin: 20px 10px 20px 0; 
  border-color: #DEDEDE;
}
#order_self_delivery_point_id{
  max-width: 100%;
}
#self_delivery_point .info p{
  margin: 0.5em 0 0 0;
}
#self_delivery_point .info .label{
  font-weight: bold;
}